{% extends "crud/base.html" %}
{% block title %}使用者列表{% endblock %}

{% block content %}

<h2>使用者列表</h2>
<a href="{{url_for('crud.create_user')}}"> 新增使用者</a>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
    </tr>
    {% for user in users %}
    <tr>
        <!-- <td>{{ user.id }}</td> -->
        <td>
            <a href="{{ url_for('crud.edit_user', user_id=user.id) }}">{{ user.id }}</a>
        </td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}